<div class="game-wrapper">
<div class="player_status"></div>
  <h1 class="player"><%= player(session[:player]) %></h1>
<h1>Turn of:</h1>
<h1 id="player"></h1>
<h1 id="won-status"></h1>
<div class="block" data-id=0></div>
<div class="block" data-id=1></div>
<div class="block" data-id=2></div>
<br>
<div class="block" data-id=3></div>
<div class="block" data-id=4></div>
<div class="block" data-id=5></div>
<br>
<div class="block" data-id=6></div>
<div class="block" data-id=7></div>
<div class="block" data-id=8></div>

<button type="button" class="btn btn-info btn-lg" id="modal-btn" data-toggle="modal" data-target="#myModal"
  style="display:none;"></button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <%= link_to '<button class="btn btn-primary">End Game</button>'.html_safe, endgame_path  %>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
</div>