<%  if session[:player].nil? %>
    <h1>Sign in to Play </h1>
<% end %>
<%= simple_form_for(Player.new, html: { class: 'form-inline' }) do |form| %>
    <%= form.input :username %><br>
    <%= form.submit "Submit" , class: "btn btn-primary" %>
<% end %>
